@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
body{
    background-color: wheat;
    font-family: 'Hanalei Fill', cursive;
}
div{
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(../imagenes/fondo.png);
}
h1{
    color: transparent;
    font-size: 40px;
}