*{
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    height: 150px;
    background-color: black;
}
#nav{
    background-color: salmon;
    height: 30px;
    margin-bottom: 0;
}
main{
    background-color: rgb(181, 183, 184);
    height: 100vh;
}
footer{
    background-color: gray;
    height: 20px;
   margin-bottom: 0;
}
h2, h1 {
    margin-left: 15px;
    color: honeydew;
}
